<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Accueil</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<div class="wrapper">
			<nav class="navbar">
				<img class="logo" src="./css/logo.png">
				<ul>
					<li><a class="active" href="#">Home</a></li>
					<li><a href="/Artiste">Artistes</a></li>
				</ul>
			</nav>
			<div class="center">
			<h2>Recherchez vos artistes préférés</h2>
			<div class="buttons">
			<a  href="/Artiste"><button style="text-decoration:none;font-size: larger;">Enter</button> </a>
		</div>
		</div>
</body>
</html>