<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Custom Website</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<div class="wrapper">
			<nav class="navbar">
				<img class="logo" src="./css/logo.png">
			</nav>
			<div class="center">
			<h1>Groupie TRACKER</h1>
			<h2>Recherchez vos artistes préférés</h2>
			<div class="buttons">
			<button ><a style="text-decoration:none; color: aliceblue;"  href="/Artiste">Enter</a> </button>
		</div>
		</div>
</body>
</html>