*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: url(lebon.jpg);
    background-size: cover;
}

.Members {
    color :#E4F2E7;
    font-size: 15px;
}
a {
    text-decoration: none;
}
.card{
    height: 400px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border-radius: 50px;
}
.img{
    height: 400px;
    width: 350px;
    border-radius: 400px;
    transition: .5s;
    opacity: 0.9;
}
.intro{
    height: 70px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    background: #127369;
    opacity: 0.9;
    color: #E4F2E7;
    bottom: 70px;
    transition: .5s;
}
h1{
    margin: 5px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
p{
    font-size: 20px;
    margin: 20px;
    opacity: 0;
    visibility: hidden;
}
span{
    font-weight: bold;
}
.card:hover{
    cursor: pointer;
}
.card:hover .intro{
    height: 220px;
    bottom: 193px;
    background: #127369;
}
.card:hover .p{
    opacity: 1;
    visibility: visible;
}
.card:hover .img{
    transform: scale(1.1) rotate(-3deg);
}